<h1>Sessiions/Login PAge!!!!</h1>

<form method="POST" action="/login">
    <label for="username or email">Username or Email Address:</label><br>
    <input type="text" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="text" name="password"><br>
    <br>
    <input type="submit" value="Submit">
</form>